[user]
	name = Justin Naismith
	email = justin@nais.dev
[pull]
  rebase = true
[alias]
  fomo = !git fetch origin main && git rebase origin/main --autostash
[commit]
	gpgsign = true
[gpg]
	format = ssh
[branch]
	sort = -committerdate
[push]
	autoSetupRemote = true
[core]
	editor = nvim
[help]
	autocorrect = prompt
[init]
	defaultBranch = main
[include]
  path = ~/.gitconfig.local
